@model Librarian.Models.ModelWithController<IEnumerable<Librarian.Models.Patron>>


@{
    ViewBag.Title = "Patrons";
}

<h2>Patrons</h2>

<div class="container">
    <section class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#" ng-click="controller.createPatron()"><i class="glyphicon glyphicon-asterisk"></i> Add Patron</a>
        </div>
        <div class="col-lg-2 col-md-6 form-inline">
            <label for="filter">Search:</label>
            <input type="text" class="form-control" id="filter" ng-model="controller.filter" />
        </div>
    </section>
    <div class="row"><div class="col-lg-12 col-md-12">&nbsp;</div></div>
    <table class="table row">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Title
            </th>
            <th>
                Patron Type
            </th>
            <th>
                Blocked?
            </th>
            <th colspan="3"></th>
        </tr>
        <tr ng-repeat="patron in controller.patrons | orderBy : 'LastName' | filter : {$: controller.filter} track by patron.ID"
            ng-cloak>
            <td>{{ patron.FirstName }}</td>
            <td>{{ patron.LastName }}</td>
            <td>{{ patron.Title }}</td>
            <td>{{ patron.PatronType.Text }}</td>
            <td><i class="glyphicon" ng-class="{ 'glyphicon-remove-circle': patron.Blocked }"></i></td>
            <td><a href="#" ng-click="controller.displayPatron(patron)"><i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-sm">Details</span></a></td>
            <td><a href="#" ng-click="controller.displayDeletePatron(patron)"><i class="glyphicon glyphicon-remove"></i> <span class="hidden-sm">Delete</span></a></td>
            <td><a href="#" ng-click="controller.displayEditPatron(patron)"><i class="glyphicon glyphicon-pencil"></i> <span class="hidden-sm">Edit</span></a></td>
        </tr>
    </table>
</div>
<div id="detailPopupContainer" ng-controller="patronDetailCtrl as ctrl" ng-cloak>
    <bootstrap-dialog primary-text="Edit" primary-action="ctrl.displayEditPatron()" title="Patron Details">
        @Html.Partial("Details")
    </bootstrap-dialog>
</div>
<div id="deletePopupContainer" ng-controller="patronDeleteCtrl as ctrl" ng-cloak>
    <bootstrap-dialog primary-text="Delete" primary-action="ctrl.deletePatron()" title="Delete Patron" title="Delete Patron">
        @Html.Partial("Details")
    </bootstrap-dialog>
</div>
<div id="createPopupContainer" ng-controller="patronCreateCtrl as ctrl" ng-cloak>
    <form name="createForm">
        <bootstrap-dialog primary-text="Save" loading-text="Saving..." primary-action="ctrl.addPatron()" title="Add Patron" title="New Patron">
            @Html.Partial("EditDetails", new Librarian.Models.EditDetails { Current = "newPatron" })
        </bootstrap-dialog>
    </form>
</div>
<div id="editPopupContainer" ng-controller="patronEditCtrl as ctrl" ng-cloak>
    <form name="editForm">
        <bootstrap-dialog primary-text="Save" loading-text="Saving..." primary-action="ctrl.updatePatron()"
                          title="Edit Patron" on-show="ctrl.dialogShow()" close-action="ctrl.close()">
            @Html.Partial("EditDetails", new Librarian.Models.EditDetails { Current = "currPatron" })
        </bootstrap-dialog>
    </form>
</div>
<input type="hidden" id="lookupPatronType" value='@Lookup.Raw("PatronType")' />
